.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.container h1 {
  font-size: 40px;
  opacity: 0.8;
  color: black;
}

.facebookColor {
  color: #4267b2; // Facebook's color
}

.twitterColor {
  color: #1da1f2; // Twitter's color
}

.redditColor {
  color: #ff5700; // Reddit's color
}

.snapchatColor {
  color: #fffc00; // Snapchat's color
}

.tiktokColor {
  color: #000000; // TikTok's color
}

.linkedinColor {
  color: #0077b5; // LinkedIn's color
}

.instagramColor {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Hide the text color to show the gradient */
}

.optionsList {
  list-style: none;
  padding: 0;
}

.optionItem {
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
  &:hover {
    background-color: #f0f0f0;
  }
}

.selected {
  background-color: #dedede; // Example selected color, adjust as needed
}

.groupContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust based on your design */
}

.commonLabel {
  margin-top: 40px;
  font-size: 20px;
  color: #007fa3;
}
