@import "../../assets/colors.scss";

.textBox {
  font-size: 1em;
  color: $primary;
  display: flex;
  justify-content: center;  
  align-items: center;  
  margin: 5px;
  padding: 10px;
  border: 1px solid $primary;  
  border-radius: 5px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s, color 0.3s, border 0.3s;  
}

@media (max-width: 1100px) {
  .textBox {
    font-size: 14px;  
  }
}

.textBox:hover {
  background-color: $primary;  
  color: white;  
  border: 1px solid $primary;
}

.selected {
  background-color: $primary;
  border: 1px solid $primary;  
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}
