.container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(25%);
}

.header {
 font-size: 4rem;
}

.subHeader {

}
