.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
}

.content {
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(25%);
}

.header {
  font-size: 4rem;
}

@media (max-width: 700px) {
  .header {
    font-size: 2rem;
  }
}