.footer {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0px 400px;
  z-index: 1000; // Ensure it's above other elements
  height: 150px; // Set a fixed height for the header
}

.forwardButton {
  padding: 20px 30px;
  font-size: 20px;
  background-color: #4892fb;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken(#4892fb, 10%);
  }

  &:disabled {
    background-color: #cccccc; // Light gray, adjust as needed
    color: #666666; // Darker gray to indicate the button is disabled
    cursor: not-allowed; // Shows a 'not allowed' cursor on hover
    opacity: 0.7; // Optionally reduce opacity to make it look inactive
  }
}

.backButton {
  padding: 20px 30px;
  font-size: 20px;
  background-color: none;
  background: none;
  color: rgb(149, 149, 149);
  border: none;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: rgb(29, 29, 29);
  }

  &:disabled {
    color: #666666; // Darker gray to indicate the button is disabled
    cursor: not-allowed; // Shows a 'not allowed' cursor on hover
    opacity: 0.7; // Optionally reduce opacity to make it look inactive
  }
}

.backButton,
.forwardButton {
  // Your existing button styles...
  display: flex;
  align-items: center; // Center the items vertically
  justify-content: center; // Center the content if needed
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(1px); // Shift the arrow down a bit
}

.backIcon {
  margin-right: 10px; // Increase distance between arrow and text for the back button
}

.forwardIcon {
  margin-left: 10px; // Increase distance between arrow and text for the forward button
}
