@import "../../assets/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  top: 0;
}

.container h1 {
  font-size: 40px;
  color: $header-grey;
  margin-bottom: 1rem;
}

.reframes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subHeader {
  font-size: 1.4em;
  color: $subheader-grey;
}

.descriptiveText {
  font-size: 1.3em;
  color: $secondary;
}

.headingContainer {
  align-items: center;
  align-self: center;
}
